<section id="banner" class="section hero hero--banner">
  <div class="container hero__grid">
    <div>
      <p class="eyebrow">Saude migratorial</p>
      <h1 class="h1">Um espaço lindo</h1>
      <p class="lead">
        Atendimento humanizado com experiência de fofoqueira. <br>
        Sessões online com princesa Wisla.
      </p>
      <div class="btnrow">
        <a class="btn btn--ghost" href="#servicos">Ver tratamentos</a>
        <a class="btn btn--primary" href="#contato">Agendar uma conversa</a>
      </div>
    </div>

    <!-- <div class="hero__card">
      <div class="hero__photo" aria-hidden="true"></div>
      <div class="hero__meta">
        <strong>Wisla Narciso</strong>d
        <div class="muted">Psicóloga • Psicoterapeuta</div>
      </div>
    </div> -->
  </div>
</section>
