<section class="section">
  <div class="container">
    <h2 class="h2">Você não está sozinho(a) no seu processo migratório.</h2>
      <p class="text">
        Se você é imigrante e sente que a experiência de viver em outro país tem sido emocionalmente desafiadora, saiba que esse sofrimento é mais comum do que parece — e pode ser cuidado.
        Meu nome é Wisla, sou psicóloga há mais de 8 anos e dedico minha prática clínica ao acompanhamento de pessoas imigrantes. Ao longo da minha trajetória, sempre busquei compreender o sofrimento psíquico e auxiliar indivíduos a alcançarem maior equilíbrio emocional e bem-estar.
        Em 2018, vivi minha própria experiência migratória ao me mudar do Brasil para Portugal. Foi nesse processo que me deparei com o adoecimento mental crescente da população migrante — realidade que também me atravessou pessoalmente. Essa vivência despertou um olhar atento para as dores específicas da imigração e direcionou meu trabalho clínico para o cuidado de pessoas que enfrentam esse contexto.
        Migrar pode nascer do desejo de uma vida melhor, de novas oportunidades, de segurança, de acesso à educação ou, simplesmente, da vontade de conhecer o mundo. No entanto, fatores políticos, econômicos, culturais e sociais podem transformar esse sonho em uma experiência marcada por solidão, insegurança, frustrações e sofrimento emocional.
        Para oferecer um cuidado ético e sensível a essas questões, aprofundei meus estudos em Psicanálise de orientação lacaniana, abordagem que fundamenta minha prática clínica. Atualmente, acompanho brasileiros e falantes da língua portuguesa em diferentes partes do mundo.
        A psicoterapia pode te ajudar a lidar com situações como xenofobia, depressão sazonal, saudade da família, dificuldades de adaptação, mudanças na identidade, padrões de comportamento e traumas ligados à sensação de abandono, perda e desenraizamento.
        Aqui, você encontrará um espaço de escuta, acolhimento e cuidado, onde sua história, sua cultura e sua experiência migratória serão respeitadas.
        Atendimento humanizado com anos de experiência clínica.
        Sessões online e/ou presenciais.
      </p>
  </div>
</section>
