<footer id="landing-footer">
  <div class="container landing-footer__inner">
    <p id="copyright"><a href="{{ '/impressum/' | relative_url }}">Impressum</a></p>
    <ul class="social-icons">
      <li>
        <a target="_blank" title="Mail" aria-label="Mail" href="mailto:info@psicologawisslanarciso.com">
          <i class="fa fa-at fa-1x"></i><span>Mail</span>
        </a>
      </li>
      <li>
        <a target="_blank" title="Instagram" aria-label="Instagram" href="https://www.instagram.com/wislanarciso/">
          <i class="fa fa-instagram fa-1x"></i><span>Instagram</span>
        </a>
      </li>
      <li>
        <a target="_blank" title="WhatsApp" aria-label="WhatsApp" href="https://wa.me/351927605010?text=Queria%20agendar%20uma%20consulta.">
          <i class="fa fa-whatsapp fa-1x"></i><span>WhatsApp</span>
        </a>
      </li>
    </ul>
  </div>
</footer>
